#newTeamContactId{
    position: absolute;
    top: 60px;
    right: 15px;
    width: 260px;
}

#newTeamName{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 250px;
}

#teamNameHolder{
    position: absolute;
    top: 15px;
    left: 15px;
}

#teamContactHolder{
    position: absolute;
    top: 60px;
    left: 15px;
}

#teamMessageHolder{
    position: absolute;
    top: 105px;
    left: 100px;
    color: red;
  margin-left: auto ;
  margin-right: auto ;
}

#editTeamMessageHolder{
    position: absolute;
    top: 105px;
    left: 100px;
    color: red;
  margin-left: auto ;
  margin-right: auto ;
}

#editTeamPlaceHolder{
  height: 110px  !important;
}

#removeTeamPlaceHolder{
  height: 15px  !important;
}

#newTeamPlaceHolder{
  height: 110px  !important;
}

.teamListElement{
  list-style-type: none;
}

.deleteTeam{
  width: 15px;
  padding-right:3px;
  padding-left:3px;
}

.editTeam{
  width: 15px;
  padding-right:3px;
  padding-left:3px;
}